.game {
  margin: 2%;
}

.card-container {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  color: white;
}

.game-title {
  font-size: 40px;
}

.resetDiv {
  margin: 15%;
}

.resetButton {
  background-color: white;
  border: none;
  color: black;
  padding: 20px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
  font-size: x-large;
  font-family: 'Lobster', cursive;
}
